/* Keyframes voor de animatie van de fireball */
@keyframes fireball {
	0% {
		transform: rotate(0);
	}
	100% {
		transform: rotate(360deg);
	}
}

/* Algemene stijlen voor de HTML en BODY om het hele scherm te vullen */
html, body {
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
	overflow: hidden; /* Voorkomt scrollbalken */
	box-sizing: border-box; 
}

/* Stijlen voor de body (de hoofdcontainer/speelveld) */
body {
	background-color: #000000; /* Zwarte randen op bredere schermen */
	background-image: url('images/background.png'); /* Je achtergrondafbeelding */
	
	/* BELANGRIJK: We gebruiken 'initial' of laten deze property weg in CSS, 
	   omdat we de positionering via JavaScript gaan doen.
	   De 'contain' zorgt ervoor dat de afbeelding schaalt zoals besproken,
	   maar niet de breedte van een pc-scherm vult. */
	background-size: contain; 
	
	/* De startpositie van de achtergrond: links onderin */
	background-position: left bottom; 
	
	background-repeat: no-repeat; 
	position: relative; 
}

/* Stijlen voor de fireball (Mario) */
.fireball {
	animation-delay: 0s;
	animation-duration: 1s;
	animation-iteration-count: infinite;
	animation-name: fireball;
	animation-timing-function: linear;
	background-image: url('images/fireball.gif'); /* Je fireball GIF */
	background-repeat: no-repeat;
	background-size: contain; 
	
	position: absolute; 
	
	/* Positionering van de fireball: links-midden op de grond */
	bottom: 10%; /* Pas aan voor perfecte grondlijn */
	left: 20%;   /* Mario start meer naar links */
	transform: translateX(-50%); /* Corrigeert de horizontale centrering */
	
	width: 10vh; 
	height: 10vh; 
}

/* Stijlen voor de h1 (Loading tekst) */
h1 {
	align-items: center;
	display: flex;
	font-family: sans-serif;
	justify-content: center;
	height: 100%;
	margin: 0;
	color: white; 
	position: absolute; /* Zodat de h1 niet de layout van andere elementen beïnvloedt */
	top: 0;
	left: 0;
	width: 100%;
	z-index: 10; /* Zorgt ervoor dat de h1 boven andere elementen is */
}

/* Stijlen voor tube (indien gebruikt in je JavaScript) */
.tube {
	background-repeat: no-repeat, repeat-y; 
}

/* ==========================================================
   media queries
   ========================================================== */

/* Kleinere schermen/mobiel */
@media (max-width: 768px) {
    h1 {
        font-size: 8vw; 
    }
    .fireball {
        width: 12vw; 
        height: 12vw;
        bottom: 8%; 
    }
}

/* Liggende oriëntatie (landscape) met kleine hoogte */
@media (orientation: landscape) and (max-height: 500px) {
    
    h1 {
        font-size: 5vh; 
    }

    .fireball {
        width: 8vh; 
        height: 8vh; 
        bottom: 5%; 
    }
}
